@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  background-size: 200% 200%;
  animation: gradient-border 3s linear infinite;
}


/* Hiệu ứng viền phát sáng cho Tailwind */
.button-85::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  border-radius: 10px;
  animation: glowing 20s linear infinite;
}

.button-85::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  border-radius: 10px;
  z-index: -2;
}
